{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{ block.super}}

<style>
  #grad1 {
    height: 700px;
    /* For browsers that do not support gradients */
    background-image:
      linear-gradient(to right, rgb(0, 0, 0) 20%, rgba(255, 255, 255, 0)),
      url('https://images.unsplash.com/photo-1542546068979-b6affb46ea8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    /* Standard syntax (must be last) */
    
  
  }
</style>


<div id="grad1">
  <div class="info "
    style="color: rgb(233, 233, 233);padding-top: 250px;padding-left: 90px;font-family: 'Anton', sans-serif;font-size: 60px;">
    <div class="animated fadeInUp delay-1s">WELCOME TO THE<br></div>
    <div class="animated fadeInUp delay-2s">AWARD SHOW<br></div>
  </div>
  <div class="animated fadeInUp delay-3s"
    style="font-size:20px; color:blanchedalmond;padding-left: 150px; font-family: 'Playfair Display', serif;">
    by Markian Mumba</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

 <div class="container">
  <div class="row">
    {% for awards_item in projects %}
    <div class="col-md-4">
        <div class="card" style="width: 350px; height: 200px; margin-top: 2%;">
            <img style="height: 300px" class="card-img-top" src="{{awards_item.project_image.url}}" alt="Post image">
            <div class="card-body">
                <h5 class="card-title">Project name: {{awards_item.title}}</h5>
                <p class="card-text">Description: {{awards_item.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">date posted: {{awards_item.pub_date}}</li>
                <li class="list-group-item">Votes: {{votes.average}} </li>
            </ul>
            <div class="card-body">
                <a href="{{ awards_item.links}}" class="card-link">Project link</a>
            </div>
        </div>
   
</div>
{% empty %}
<div class="row">
  <h2 class="text-center">There No News Items</h2>
</div>

{% endfor %}



{% endblock %}



