
<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="font-size: 15px; font-family: 'Nunito', sans-serif;">
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'project_all' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" href="{% url 'myProfile'%}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" href="{% url 'new_project' %}">Add Project</a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" href="/logout">logout</a>
      </li>
    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          API'S
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/api/profile">Profile api</a>
          <a class="dropdown-item" href="/api/project">Project api</a>
      </li>

      {% else %}
      <li>
        <a class='btn btn-default' href="/accounts/login">Login</a>
      </li>

      {% endif %}

  </div>

  </div>
</nav>

